<p-grid>
	<p-grid-item size="12">
		<p-accordion
				heading="Pflege und Zubehör"
				tag="h2"
				[size]="'medium'"
				[open]="isAccordion1Open"
				(accordionChange)="onAccordion1Change($event)"
		>
			<p-grid
					class=""
					*ngFor="let config of optionselectConf; let i = index;"
			>
				<p-grid-item [size]="1">
					<input
							class="form-check-input"
							type="checkbox"
							[checked]="config.selected"
					>
				</p-grid-item>
				<p-grid-item [size]="11">
					<p-text [size]="'small'">
						<blockquote>{{config.title}}<small></small></blockquote>
					</p-text>
				</p-grid-item>
				<p-grid-item [size]="12" [offset]="11">
					<p-text [size]="'small'">
						{{config.price}}€
					</p-text>
				</p-grid-item>
			</p-grid>
		</p-accordion>
	</p-grid-item>
</p-grid>
