<p-grid>
	<p-grid-item size="12">
		<p-accordion
				heading="Interieur Leder"
				tag="h2"
				[size]="'medium'"
				[open]="isAccordion1Open"
				(accordionChange)="onAccordion1Change($event)"
		>
			<p-grid
					class=""
					*ngFor="let config of multiselectConfig; let i = index;"
			>
				<p-grid-item [size]="1">
					<input
							class="form-check-input"
							type="checkbox"
							[checked]="config.selected"
							(click)="chooseConfig(config)"
					>
				</p-grid-item>
				<p-grid-item [size]="11">
					<p-text [size]="'small'">
						<blockquote>{{config.title}}<small> / {{config.subtitle}}</small></blockquote>
					</p-text>
				</p-grid-item>
				<p-grid-item [size]="12" [offset]="11">
					<p-text [size]="'small'">
						{{config.price}}€
					</p-text>
				</p-grid-item>
				<div *ngIf="config.selected" class="full-width">
					<div *ngFor="let extraConfig of hiddenContent; let i = index;" class="full-width">
						<p-grid class="xl-padding">
							<p-grid-item>
								<input
									type="checkbox"
									[checked]="extraConfig.selected"
									(click)="chooseSecondConfig(extraConfig)"
								>
							</p-grid-item>
							<p-grid-item [size]="11">
								<p-text [size]="'small'">
									<blockquote>{{extraConfig.name}}<small> / {{extraConfig.subtitle}}</small></blockquote>
								</p-text>
							</p-grid-item>
							<p-grid-item [size]="12" [offset]="11">
								<p-text [size]="'small'">
									{{extraConfig.price}}€
								</p-text>
							</p-grid-item>
						</p-grid>
					</div>
				</div>
			</p-grid>
		</p-accordion>
	</p-grid-item>
</p-grid>
